@use "src/styles/vars";

.chat{
    position: fixed;
      top: 50%;
      right: 23px;
      transform: translateY(-50%);
      z-index: 100;
  &__container{
    border: 2px solid vars.$color-pink-swello;
    background-color: #f9fafa;
    width: 350px;
    height: 490px;
  }
  &__header{
    background-color: vars.$color-blue-swello;
    display: flex;
    flex-direction: row;
    height: 100px;
  }
  &__btn{
    background-color: vars.$color-pink-swello;
    width: 80px;
    border-radius: 30px;
    border: 1px solid vars.$color-pink-swello;
    &:hover{
      width: 100px;
      border: 10px solid vars.$color-blue-swello;
    }
  }
  &__icon{
    margin: 0 auto;
    width: 60px;
    font-size: 50px;
  }
  &__chatpic{
    width: 80px;
    height: 80px;
    padding: 10px;
  }
  &__pseudo{
    text-align: left;
    margin: auto auto auto 10px;
  }
}
.pseudo{
  color: vars.$color-pink-swello;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 5px;
}
.disabel_btn{
  background-color: lightgray;
  cursor: not-allowed;
  width: 310px;
  height: 40px;
}

.chat__message-container {
  border: 1px solid lightgray;
  margin: 20px 20px;
  width: 310px;
  height: 220px;
}

.disablebtn{
  &__container{
    width: 310px;
    height: 47.5px;
    position: absolute;
  }
  &__img{
    width: 100%;
  }
}

.messagerie-text{
  text-align: left;
  font-size: 15px;
  margin: 5px 30px 0 5px;
  padding: 20px;
  background-color: vars.$color-blue-swello;
  color: white;
  border-radius: 30px;
}
