@use '../../styles/vars';

.main__container {
  margin: auto;
  max-width: 1560px;
}

.left-background-triangle {
  height: 0;
  width: 0;
  border-left: 800px solid #302a7e;
  border-bottom: 480px solid transparent;
  position: absolute;
  left: 0;
  z-index: -1;
}

.right__triangle-wraper{
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 36px;
  height: 333px;
}
.right-background-triangle {
  height: 700px;
  width: 220px;
    position: absolute;
    right: 0;
    top:-250px;
    z-index: -1;

}

.main__inner {
  background-color: vars.$color-background-swello;
  background-image: url(../../assets/img/background-top.png);
  background-size: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  z-index: 1;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 60px;
}

.message__container{
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  width: 50%;
}

h1 {
  margin: 98px 0 0 0;
  font-size: 66px;
  font-weight: 700;
  color: vars.$color-blue-swello;
  display: inline-block;
  text-align: left;
}

h2 {
  display: inline-block;
  text-align: left;
  font-size: 60px;
  font-weight: 700;
  color: vars.$color-pink-swello;
  margin-top: 10px;
}

.motivation__text{
  font-size: 25px;
  color: vars.$color-blue-swello;
  text-align: justify;
  margin-top: 60px;
}

.right__container {
  display: flex;
  justify-content: right;
  flex-direction: row;
}

.img__carousel{
  max-width: 520px;
  position: absolute;
  right: 220px;
}

.man__chilling{
  overflow: visible;
  display: block;
  width: 404px;
  height: 525px;
  position: absolute;
  z-index: 101;
  bottom: -100px;
  right: 60px;
}

.main__whoami {
  z-index: 1;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 60px;
  background-color: white;
}

.whoami {
  &__title {
  width: 70%;
  }
  &__theorem {
    display: flex;
    justify-content: space-around;
    &--list{
      font-size: 25px;
      color: vars.$color-blue-swello;
      text-align: justify;
      margin-top: 60px;
      border: 5px solid vars.$color-pink-swello;
      border-radius: 10px;
      padding: 20px;
      width: 420px;
      height: 425px;
      &-title{
        font-size: 32px;
      }
      &-item{
        line-height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  &__solution{
    width: 50%;
  }
  &__calendar-explanation {
  font-size: 25px;
  color: vars.$color-blue-swello;
  text-align: justify;
  margin: 60px 0;
  }
}
