@use '../../styles/vars';

.login-form {
  margin-top: 15px;
  padding: 25px;
  border: solid 2px vars.$color-pink-swello;
  border-radius: 24px 0px 24px 24px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: vars.$color-blue-swello;
}

.login-form-element> *:not(:last-child) {
  margin-bottom: 10px;
}

.login-form-button {
  background-color: vars.$color-pink-swello;
  border: solid 2px vars.$color-pink-swello;
  border-radius: 8px;
  width: 100%;
  letter-spacing: 1.1px;
  font-weight: bold;
  background-color: vars.$color-blue-swello;
  color: white;
    &:hover{
      background-color: vars.$color-pink-swello;
      transition: background-color 300ms ease-in-out;
    }
}
