@use "src/styles/vars";

.header {
  &__wraper {
    background-color: vars.$color-blue-swello;
    height: 98px;
    min-height: 98px;
    max-height: 98px;
  }

  &__nav {
    background-color: vars.$color-blue-swello;
    margin: auto;
    height: 98px;
    min-height: 98px;
    max-height: 98px;
    width: 100%;
    max-width: 1560px;
    padding: 28px 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

}

.icon-logo {
  height: 22px;
  width: 93px;
  justify-content: center;
}
