@use '../../styles/vars';

.carousel__container{
  margin: auto;
  max-width: 1560px;
  background-color: vars.$color-background-main-swello;
  padding-top: 60px;
}

.swiper-slide  {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 20px 0;
  padding: 30px;
  height: 162px;
  display: flex;
  flex-direction: row;
}
.slide-content{
  width: 100px;
  align-items: center;
}

.swiper-pagination-bullet {
  background: vars.$color-pink-swello;
  position: unset;
}

img{
  box-sizing: content-box;
  width: 100%;
}

.card{
  &__img{
    width: 150px;
    height: 150px;
    padding: 0px 16px;
    align-items: center;
  }
  &__comment{
    width: 80%;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__message{
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    color: vars.$color-blue-swello;
    box-sizing: content-box;
  }
  &__stars{
    padding: 16px 0px 20px;
    text-align: left;
    width: 150px;
  }
  &__author{
    text-align: left;
    font-size: 13px;
    color: #C0C0C0;
    font-weight: bold;
  }
  &__job{
    text-align: left;
    font-size: 13px;
    color: #C0C0C0;
  }
}

